<article>
	<div class=container>
	
		<div class=flexslider>
			<ul class=slides>
				<li>
					<%= image_tag "1717/1.jpg", :alt => 'The 1717 Design Group' %>
				</li>
				<li>
					<%= image_tag "1717/2.jpg", :alt => 'The 1717 Design Group' %>
				</li>
				<li>
					<%= image_tag "1717/3.jpg", :alt => 'The 1717 Design Group' %>
				</li>
				<li>
					<%= image_tag "1717/4.png", :alt => 'The 1717 Design Group' %>
				</li>
			</ul>
		</div>
		
		<div class=article_body>
			<p>	The 1717 Design Group is an award-winning design firm from Richmond, Va. Over the past twenty+ years they have created amazing museum exhibits which delight visitors. 1717 has created experiences for the Colonial Williamsburg Foundation, the Washington Monument, the National Cowboy Hall of Fame, and the Library of Congress just to name a few.</p>
			<p>In 2011 the 1717 Design Group launched a new website and a major marketing push. As a consultant on the project, I worked with 1717s designers to crafted the html, css and javascript required to bring their website to life.</p>
		</div>
		
		<div class=article_summary>
			<div class=article_header>
				<h2>The 1717 Design Group</h2>
			</div>			
			<div class=article_url>
				<a href="http://1717design.com" rel="The 1717 Design Groups Website">1717design.com</a>
			</div>
		</div>
						
	</div>
</article>



<article>
	<div class=container>
	
		<div class=flexslider>
			<ul class=slides>
				<li>
					<%= image_tag "budget/1.png", :alt => 'Budget.app' %>
				</li>
				<li>
					<%= image_tag "budget/2.png", :alt => 'Budget.app' %>
				</li>
			</ul>
		</div>
		
		<div class=article_body>
			<p>Budget.app was a design study undertaken for an iPhone developer. I designed the application's interface and interaction. Using guided workflows a user could easily record their spending habits throughout the day. Users could track repeating bills and setup a budget to manage spending in specific areas.</p>
		</div>
		
		<div class=article_summary>
			<div class=article_header>
				<h2>Budget.app</h2>
			</div>
		</div>
						
	</div>
</article>


<article>
	<div class=container>
	
		<div class=flexslider>
			<ul class=slides>
				<li>
					<%= image_tag "cr/1.png", :alt => 'Career Rocketeer' %>
				</li>
				<li>
					<%= image_tag "cr/2.png", :alt => 'Career Rocketeer' %>
				</li>
				<li>
					<%= image_tag "cr/3.png", :alt => 'Career Rocketeer' %>
				</li>
			</ul>
		</div>
		
		<div class=article_body>
			<p>Career Rocketeer launched in 2009 as a career development blog. It brought the writings of several experts in the field together.</p>
			<p>I illustrated Career Rocketeer's logo and several logos for sections of the site. The main logo was recognized on <a href="http://jobmob.co.il/blog/beautiful-company-logos-job-search-recruitment/">jobmob.co.il</a> in their list of beautiful job search company logos.</p>
		</div>
		
		<div class=article_summary>
			<div class=article_header>
				<h2>Career Rocketeer</h2>
			</div>
			<div class=article_url>
				<a href="http://careerrocketeer.com" rel="Career Rocketeer">careerrocketeer.com</a>
			</div>
		</div>
						
	</div>
</article>

<article>
	<div class=container>
	
		<div class=flexslider>
			<ul class=slides>
				<li>
					<%= image_tag "lag/1.png", :alt => 'Lindsay and Gareth' %>
				</li>
				<li>
					<%= image_tag "lag/2.jpg", :alt => 'Lindsay and Gareth' %>
				</li>
				<li>
					<%= image_tag "lag/3.jpg", :alt => 'Lindsay and Gareth' %>
				</li>
				<li>
					<%= image_tag "lag/4.jpg", :alt => 'Lindsay and Gareth' %>
				</li>
			</ul>
		</div>
		
		<div class=article_body>
			<p>	In 2010 my cousin Lindsay announced her engagement to her long-time boyfriend Gareth. Naturally, when it came time to for a wedding gift, I designed and coded a website for the wedding.</p>  
			<p>The website featured a brief message from the couple, driving directions, and links to their registries and accommodations. Links to vcard and ical files were available to automatically add information and events to address and calendar applications. An RSVP feature automatically emailed the couple response details.</p>
		</div>
			
		<div class=article_summary>
			<div class=article_header>
				<h2>Lindsay &amp; Gareth </h2>
			</div>
			<div class=article_url>
				lindsayandgareth.com
			</div>
		</div>
				
	</div>
</article>

<article>
	<div class=container>
		<div class=connect_button>
		<%= link_to("/resume") do %>
		Resume
		<% end %>
		</div>
		
		<div class=connect_button>
		<%= link_to("http://www.linkedin.com/in/nathancrank") do %>
		LinkedIn
		<% end %>
		</div>
	</div>
</article>