<article>
	<div class=container>
		<div class=gallery>
			<div class=gallery_large_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image'  %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
		</div>
		<div class=article_summary>
			<div class=article_header>
				<h2>The 1717 Design Group</h2>
			</div>
			<div class=article_url>
				<a href="http://1717design.com" rel="The 1717 Design Groups Website">1717design.com</a>
			</div>
		
			<div class=article_tags>
				<ul>
					<li>jquery</li>
					<li>javascript</li>
					<li>css</li>
					<li>html</li>
				<ul>
			</div>
		
		</div>
		
		<div class=article_body>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec dolor ac leo aliquam congue id nec elit. Nulla non risus dolor. Mauris condimentum bibendum nunc a tincidunt. Nulla facilisi. Aenean sit amet lorem tellus, sed malesuada odio. Sed bibendum cursus augue quis accumsan. Integer consectetur, erat eget vehicula eleifend, augue ante rhoncus magna, nec aliquam lorem ligula sed nisi. Donec ullamcorper porttitor placerat.</p>

			<p>Ut vehicula, purus quis molestie fringilla, quam turpis venenatis neque, quis pretium risus diam et augue. Duis faucibus enim sed tortor cursus vitae pellentesque ligula suscipit. Aliquam erat volutpat. Quisque pretium tempor posuere. Mauris tempus aliquam gravida. Maecenas mollis lectus non turpis sollicitudin et accumsan libero varius. Donec porta convallis feugiat. Integer at aliquam massa. Sed laoreet urna vel nunc ullamcorper ut adipiscing purus bibendum. Ut sagittis, neque vitae pharetra mollis, tellus eros interdum magna, vel laoreet nunc diam nec ipsum. Praesent ac risus mi.</p>
		</div>
	</div>
</article>
<article>
	<div class=container>
		<div class=gallery>
			<div class=gallery_large_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image'  %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
		</div>
		<div class=article_summary>
			<div class=article_header>
				<h2>The 1717 Design Group</h2>
			</div>
			<div class=article_url>
				<a href="http://1717design.com" rel="The 1717 Design Groups Website">1717design.com</a>
			</div>
		
			<div class=article_tags>
				<ul>
					<li>jquery</li>
					<li>javascript</li>
					<li>css</li>
					<li>html</li>
				<ul>
			</div>
		
		</div>
		
		<div class=article_body>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec dolor ac leo aliquam congue id nec elit. Nulla non risus dolor. Mauris condimentum bibendum nunc a tincidunt. Nulla facilisi. Aenean sit amet lorem tellus, sed malesuada odio. Sed bibendum cursus augue quis accumsan. Integer consectetur, erat eget vehicula eleifend, augue ante rhoncus magna, nec aliquam lorem ligula sed nisi. Donec ullamcorper porttitor placerat.</p>

			<p>Ut vehicula, purus quis molestie fringilla, quam turpis venenatis neque, quis pretium risus diam et augue. Duis faucibus enim sed tortor cursus vitae pellentesque ligula suscipit. Aliquam erat volutpat. Quisque pretium tempor posuere. Mauris tempus aliquam gravida. Maecenas mollis lectus non turpis sollicitudin et accumsan libero varius. Donec porta convallis feugiat. Integer at aliquam massa. Sed laoreet urna vel nunc ullamcorper ut adipiscing purus bibendum. Ut sagittis, neque vitae pharetra mollis, tellus eros interdum magna, vel laoreet nunc diam nec ipsum. Praesent ac risus mi.</p>
		</div>
	</div>
</article>
<article>
	<div class=container>
		<div class=gallery>
			<div class=gallery_large_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image'  %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
		</div>
		<div class=article_summary>
			<div class=article_header>
				<h2>The 1717 Design Group</h2>
			</div>
			<div class=article_url>
				<a href="http://1717design.com" rel="The 1717 Design Groups Website">1717design.com</a>
			</div>
		
			<div class=article_tags>
				<ul>
					<li>jquery</li>
					<li>javascript</li>
					<li>css</li>
					<li>html</li>
				<ul>
			</div>
		
		</div>
		
		<div class=article_body>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec dolor ac leo aliquam congue id nec elit. Nulla non risus dolor. Mauris condimentum bibendum nunc a tincidunt. Nulla facilisi. Aenean sit amet lorem tellus, sed malesuada odio. Sed bibendum cursus augue quis accumsan. Integer consectetur, erat eget vehicula eleifend, augue ante rhoncus magna, nec aliquam lorem ligula sed nisi. Donec ullamcorper porttitor placerat.</p>

			<p>Ut vehicula, purus quis molestie fringilla, quam turpis venenatis neque, quis pretium risus diam et augue. Duis faucibus enim sed tortor cursus vitae pellentesque ligula suscipit. Aliquam erat volutpat. Quisque pretium tempor posuere. Mauris tempus aliquam gravida. Maecenas mollis lectus non turpis sollicitudin et accumsan libero varius. Donec porta convallis feugiat. Integer at aliquam massa. Sed laoreet urna vel nunc ullamcorper ut adipiscing purus bibendum. Ut sagittis, neque vitae pharetra mollis, tellus eros interdum magna, vel laoreet nunc diam nec ipsum. Praesent ac risus mi.</p>
		</div>
	</div>
</article>
<article>
	<div class=container>
		<div class=gallery>
			<div class=gallery_large_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image'  %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
			<div class=gallery_thumbnail_image>
				<a href="#" rel="Enlarge Image">
					<%= image_tag "sample.png", :alt => 'Enlarge Image' %>
				</a>
			</div>
		</div>
		<div class=article_summary>
			<div class=article_header>
				<h2>The 1717 Design Group</h2>
			</div>
			
			<div class=article_url>
				<a href="http://1717design.com" rel="The 1717 Design Groups Website">1717design.com</a>
			</div>
			<div class=article_tags>
				<ul>
					<li>jquery</li>
					<li>javascript</li>
					<li>css</li>
					<li>html</li>
				<ul>
			</div>
			
		
		</div>
		
		<div class=article_body>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec dolor ac leo aliquam congue id nec elit. Nulla non risus dolor. Mauris condimentum bibendum nunc a tincidunt. Nulla facilisi. Aenean sit amet lorem tellus, sed malesuada odio. Sed bibendum cursus augue quis accumsan. Integer consectetur, erat eget vehicula eleifend, augue ante rhoncus magna, nec aliquam lorem ligula sed nisi. Donec ullamcorper porttitor placerat.</p>

			<p>Ut vehicula, purus quis molestie fringilla, quam turpis venenatis neque, quis pretium risus diam et augue. Duis faucibus enim sed tortor cursus vitae pellentesque ligula suscipit. Aliquam erat volutpat. Quisque pretium tempor posuere. Mauris tempus aliquam gravida. Maecenas mollis lectus non turpis sollicitudin et accumsan libero varius. Donec porta convallis feugiat. Integer at aliquam massa. Sed laoreet urna vel nunc ullamcorper ut adipiscing purus bibendum. Ut sagittis, neque vitae pharetra mollis, tellus eros interdum magna, vel laoreet nunc diam nec ipsum. Praesent ac risus mi.</p>
		</div>
	</div>
</article>
