<article>
	<div class=container>
	
		<div id=a1g class=nivoSlider>
			
			<%= image_tag "1717/1.jpg", :alt => 'The 1717 Design Group' %>
			<%= image_tag "1717/2.jpg", :alt => 'The 1717 Design Group' %>
			<%= image_tag "1717/3.jpg", :alt => 'The 1717 Design Group' %>
			<%= image_tag "1717/4.jpg", :alt => 'The 1717 Design Group' %>
		
		</div>

		<div class=article_summary>
			<div class=article_header>
				<h2>The 1717 Design Group</h2>
			</div>
			
			
			<div class=article_url>
				<a href="http://1717design.com" rel="The 1717 Design Groups Website">1717design.com</a>
			</div>
		
		</div>
		
		<div class=article_body>
		<p>	The 1717 Design Group is an award-winning design firm from Richmond, Va. Over the past twenty+ years they have created amazing museum exhibits which delight visitors. 1717 has created experiences for the Colonial Williamsburg Foundation, the Washington Monument, the National Cowboy Hall of Fame, and the Library of Congress just to name a few.</p>

		<p>In 2011 the 1717 Design Group launched a new website and a major marketing push. As a consultant on the project, I crafted the html, css and javascript required to bring their website to life. SEO was completely redone and the site now ranks significantly higher on major search engines. I implemented 1717's first web analytics and trained the team how to use and understand its metrics.</p>
		</div>
						
	</div>
</article>

<article>
	<div class=container>
	
		<div id=a2g class=nivoSlider>
			<%= image_tag "lag/1.jpg", :alt => 'Lindsay and Gareth' %>
			<%= image_tag "lag/2.jpg", :alt => 'Lindsay and Gareth' %>
			<%= image_tag "lag/3.jpg", :alt => 'Lindsay and Gareth' %>
			<%= image_tag "lag/4.jpg", :alt => 'Lindsay and Gareth' %>
		</div>

		<div class=article_summary>
			<div class=article_header>
				<h2>Lindsay &amp; Gareth </h2>
			</div>
			
			
			<div class=article_url>
				lindsayandgareth.com
			</div>
		
		</div>
		
		<div class=article_body>
		<p>	In 2010 my cousin Lindsay announced her engagement to her long-time boyfriend Gareth. Naturally, when it came time to for a wedding gift, I designed and coded a website for the wedding.</p>  

		<p>The website featured a brief message from the couple, driving directions, and links to their registries and accomodations. Links to vcard and ical files were available to automatically add information and events to address and calendar applications. An RSVP feature automatically emailed the couple response details.</p>
		</div>
						
	</div>
</article>

<article>
	<div class=container>
	
		<div id=a3g class=nivoSlider>
			<%= image_tag "cr/1.jpg", :alt => 'Career Rocketeer' %>
			<%= image_tag "cr/2.jpg", :alt => 'Career Rocketeer' %>
			<%= image_tag "cr/3.jpg", :alt => 'Career Rocketeer' %>
		</div>

		<div class=article_summary>
			<div class=article_header>
				<h2>Career Rocketeer</h2>
			</div>
			
			
			<div class=article_url>
				<a href="http://careerrocketeer.com" rel="Career Rocketeer">careerrocketeer.com</a>
			</div>
		
		</div>
		
		<div class=article_body>
			<p>Career Rocketeer launched in 2009 as a career development blog. It brought the writings of several experts in the field togethor.</p>

			<p>I illustrated Career Rocketeers logo and several logos for sections of the site. The main logo was recognized on <a href="http://jobmob.co.il/blog/beautiful-company-logos-job-search-recruitment/">jobmob.co.il</a> in their list of beautiful job search company logos.</p>
		</div>
						
	</div>
</article>

<article>
	<div class=container>
	
		<div id=a4g class=nivoSlider>
			<%= image_tag "budget/1.jpg", :alt => 'Budget.app' %>
			<%= image_tag "budget/2.jpg", :alt => 'Budget.app' %>
		</div>

		<div class=article_summary>
			<div class=article_header>
				<h2>Budget.app</h2>
			</div>
			
		
		</div>
		
		<div class=article_body>
		<p>Budget.app was a design study done undertaken for an iPhone developer. I designed the application's interface and interaction. Using guided workflows a user could easily record their spending habits throughout the day. Users could track repeating bills and setup a budget to manage spending in specific areas.</p>
		</div>
						
	</div>
</article>

<article>
	<div class=container>
		<%= link_to("/resume") do %>
		<div class=resume_button>View My Resume</resume>
		<% end %>
	</div>
</article>