<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'nathancrankdotcom.css.scss', :media => 'screen' %>
	<%= stylesheet_link_tag 'nivo-slider.css', :media => 'screen' %>
	<!--[if lt IE 8]><%= stylesheet_link_tag 'ie' %><![endif]-->
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= javascript_include_tag :jquery %>
	<%= javascript_include_tag :jqns %>
	<%= javascript_include_tag :gallery %>
  </head>
  <body>
	<header>
		<div class=container>
			<%= render 'layouts/logo' %>
		</div>
	</header>
	
    <%= yield %>

	<footer>
		<div class=container>
			<%= render 'layouts/logo' %>
		</div>
	</footer>
	
  </body>
</html>