<!DOCTYPE html>
<html>
  <head>	
	<meta charset=utf-8>
    <title><%= title %></title>
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
    <%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'flexslider', :media => 'screen' %>
	<%= stylesheet_link_tag 'nathancrankdotcom', :media => 'screen' %>
	<%= stylesheet_link_tag 'print', :media => 'print' %>
	<%= javascript_include_tag :jquery %>
	<%= javascript_include_tag :flexslider %>
	<%= javascript_include_tag :gallery %>
	<%= javascript_include_tag :analytics %>
  </head>
  <body>
	<header>
		<div class=container>
			<%= render 'layouts/logo' %>
		</div>
	</header>
	
    <%= yield %>

	<footer>
		<div class=container>
			<%= render 'layouts/logo' %>
		</div>
	</footer>
	
  </body>
</html>